.header {
    border-bottom: var(--card-border);
    background-color: rgba(15, 15, 16, .75);
    backdrop-filter: blur(2px);
}

.mainLogo {
    max-width: 180px;
}

.mainLogo img {
    display: block;
    width: 100%;
}